<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wikings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIKINGS">
        <activity
            android:name="Nipuna.addEvent"
            android:exported="true" />
        <activity
            android:name="Nipuna.addNewEvent"
            android:exported="true" />
        <activity
            android:name="Nipuna.Addd"
            android:exported="true" />
        <activity
            android:name="Nipuna.View"
            android:exported="true" />
        <activity
            android:name="Nipuna.Galle"
            android:exported="true" />
        <activity
            android:name="Nipuna.Kite"
            android:exported="true" />
        <activity
            android:name="Nipuna.Event"
            android:exported="true" />
        <activity android:name=".Pasandi.Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>